<div class="main">
  <div class="menu">
    <button type="button" (click)="changeContent('questionMaker')">
      طراحی سوال
    </button>
    <button type="button" (click)="changeContent('madeQuestions')">
      سوالات طرح شده
    </button>
  </div>
  @switch (currentSide) { @default{
  <h1>پرسشنامه ساز آدلین</h1>
  <div class="container">
    <div class="multipleChoiceQ">
      <input
        type="radio"
        [value]="currentQuestionType"
        name="QType"
        id="MCQ"
        (click)="changeSide('MCQ')"
        checked
      />
      <label for="MCQ">سوال چهارگزینه ای: </label>
      @if (currentQuestionType == 'MCQ') {
      <div class="inside">
        <form [formGroup]="multipleChoiceQuestions" (ngSubmit)="MCQSubmitted()">
          <input
            type="text"
            placeholder="متن سوال"
            formControlName="questionText"
          />
          <input type="text" placeholder="گزینه" #Option />
          <button
            type="button"
            id="addOpt"
            (click)="addOption(Option)"
            [disabled]="multipleChoiceQuestions.get('questionText').invalid"
          >
            اضافه کردن گزینه جدید
          </button>
          @if (multipleChoiceQuestions.get('options').value.length !=0) {
          <h2>گزینه ها:</h2>
          }
          <div class="showOptions">
            @for (opt of multipleChoiceQuestions.get('options').value; track
            $index) {
            <div class="optionBox">
              <p>{{ $index + 1 }}- {{ opt }}</p>
              <button
                type="button"
                id="deleteOPT"
                (click)="deleteOption($index)"
              >
                حذف گزینه
              </button>
            </div>
            }@empty {
            <p id="emptyOPT">گزینه ای وجود ندارد</p>
            }
          </div>
          <input
            type="text"
            placeholder="گزینه صحیح"
            formControlName="correctOption"
          />
          <button
            type="submit"
            [disabled]="
              multipleChoiceQuestions.get('questionText').invalid ||
              multipleChoiceQuestions.get('options').value.length == 0 ||
              multipleChoiceQuestions.get('correctOption').value == '' ||
              this.multipleChoiceQuestions.get('options').value.length < 2
            "
            class="addQuestion"
          >
            اضافه کردن سوال
          </button>
        </form>
      </div>
      }
    </div>
    <div class="writtenQ">
      <input
        type="radio"
        [value]="currentQuestionType"
        name="QType"
        id="WQ"
        (click)="changeSide('WQ')"
      />
      <label for="WQ">سوال نوشتاری: </label>
      @if (currentQuestionType == 'WQ') {
      <div class="inside">
        <form [formGroup]="writtenQuestions" (ngSubmit)="WQSubmitted()">
          <input
            type="text"
            placeholder="متن سوال"
            formControlName="questionText"
          />
          <input
            type="text"
            placeholder="پاسخ سوال"
            formControlName="correctAnswer"
          />
          <button
            class="addQuestion"
            type="submit"
            [disabled]="
              writtenQuestions.get('questionText')?.invalid ||
              writtenQuestions.get('correctAnswer')?.invalid
            "
          >
            اضافه کردن سوال
          </button>
        </form>
      </div>
      }
    </div>
  </div>
  } @case ('madeQuestions') {
  <div class="madeQuestions">
    @if ( MCQArray.length != isMCQAnswered.length || WQArray.length !=
    isWQAnswered.length || MCQArray.length == 0 && WQArray.length == 0 ) {
    <h3 class="warning">
      * لطفا به تمامی سوالات پاسخ دهید و در صورت ندانستن جواب سوال آن را بدون
      پاسخ ثبت کنید.
    </h3>
    }
    <div class="question">
      @if (MCQArray.length != 0) {
      <h2>سوالات چهارگزینه ای</h2>
      }
      <div class="MCQ">
        @for (q of MCQArray; track q;let index = $index) {
        <div
          class="questions"
          [ngClass]="{
            questions: !isMCQAnswered[index],
            isAnswered: isMCQAnswered[index],
            isCorrect: isMCQCorrect[index] && isFinalSubmit,
            isFalse: !isMCQCorrect[index] && isFinalSubmit
          }"
        >
          <form
            id="checkMCQAnswered"
            [formGroup]="checkMCQAnswered"
            (ngSubmit)="checkMCQAnswer(index)"
          >
            <h3>
              سوال{{ index + 1 }}: <span>{{ q.questionText }}</span>
            </h3>
            @for (option of q.options; track $index) {
            <div class="optionBox">
              <input
                type="radio"
                [value]="option"
                [name]="q.questionText"
                (change)="sendMCQInputValue($event)"
              />
              <label>{{ option }}</label>
            </div>
            }
            <button class="submitBtn" type="submit">ثبت گزینه</button>
          </form>
        </div>
        }
      </div>
      @if (MCQArray.length != 0) {
      <div class="divider"></div>
      } @if (WQArray.length != 0) {
      <h2>سوالات نوشتاری</h2>
      }
      <div class="WQ">
        @for (q of WQArray; track q; let index =$index) {
        <form [formGroup]="checkWQAnswered" (ngSubmit)="checkWQAnswer(index)">
          <div
            class="questions"
            [ngClass]="{
              questions: !isWQAnswered[index],
              isAnswered: isWQAnswered[index],
              isCorrect: isWQCorrect[index] && isFinalSubmit,
              isFalse: !isWQCorrect[index] && isFinalSubmit
            }"
          >
            <h3>
              سوال{{ index + 1 }}: <span>{{ q.questionText }}</span>
            </h3>
            <input
              type="text"
              placeholder="پاسخ شما"
              formControlName="answer"
              (blur)="sendWQInputValue($event)"
              #inputValidator
            />
            <button class="submitBtn" id="WQ" type="submit">ثبت پاسخ</button>
          </div>
        </form>
        }
      </div>
      <button
        id="fSubmit"
        type="button"
        [disabled]="
          MCQArray.length != isMCQAnswered.length ||
          WQArray.length != isWQAnswered.length ||
          (MCQArray.length == 0 && WQArray.length == 0)
        "
        (click)="finalSubmit()"
      >
        ثبت نهایی سوالات
      </button>
      @if (showResultBox) {
      <div class="result">
        <button type="button" id="closeBtn" (click)="closeResultBox()">
          <img
            src="../assets/images/cancel_presentation_FILL0_wght400_GRAD0_opsz24.png"
            alt="بستن"
            title="بستن"
          />
        </button>
        <h2>نتایج پرسشنامه</h2>
        <h4>
          تعداد کل سوالات: <span>{{ MCQArray.length + WQArray.length }}</span>
        </h4>
        <h4>
          تعداد سوالات چهارگزینه ای: <span>{{ MCQArray.length }}</span>
        </h4>
        <h4>
          تعداد پاسخ های صحیح سوالات چهارگزینه ای:
          <span>{{ trueMCQFrequency }}</span>
        </h4>
        <h4>
          شماره سوال های چهارگزینه صحیح پاسخ داده شده: @for (index of
          trueMCQIndex; track $index) {
          <span class="showIndex">{{ index }}</span>
          }@empty {
          <span>بدون پاسخ صحیح</span>
          }
        </h4>
        <h4>
          تعداد سوالات نوشتاری: <span>{{ WQArray.length }}</span>
        </h4>
        <h4>
          تعداد پاسخ های صحیح سوالات نوشتاری: <span>{{ trueWQFrequency }}</span>
        </h4>
        <h4>
          شماره سوال های نوشتاری صحیح پاسخ داده شده: @for (index of trueWQIndex;
          track $index) {
          <span class="showIndex">{{ index }}</span>
          }@empty {
          <span>بدون پاسخ صحیح</span>
          }
        </h4>
        <h4>
          نمره : <span>{{ grade | percent : ".0-2" }}</span>
        </h4>
        <h4>
          وضعیت نمره: <span>{{ gradeSituation }}</span>
        </h4>
      </div>
      }
    </div>
  </div>
  } }
</div>
